h1 {
  color: rgb(17, 0, 255) !important;
}
p {
  background-color: white !important;
}
body {
  padding: 10px !important;
  background-color: aquamarine !important;
}

h2 {
  color: yellow !important;
}
