<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menu</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <style>
      .hlavicka {
        background-color: rgb(30, 214, 60) !important;
        color: yellow !important;
      }
      .paticka {
        text-align: center;
        background-color: rgb(79, 197, 197) !important;
        color: rgb(20, 20, 201) !important;
      }
    </style>
  </head>
  <body>

    <!--diky block content muzu vklad bloky do ostatnich stranek, kde tam take block content -->


    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% block content1 %}
    <div class="hlavicka">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="{% url 'index' %}" class="nav-link">Domů</a>
        </li>
        <li>
          <a href="{% url 'onas' %}" class="nav-link">O nás</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'course_list' %}" class="nav-link">Kurzy</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'branch' %}" class="nav-link">Pobočky</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'people' %}" class="nav-link">Lidé</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'contacts' %}" class="nav-link">Kontakty</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'application_create' %}" class="nav-link">Přihláška kurz</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'registration' %}" class="nav-link">Registrace</a>
        </li>
      </ul>
      <hr>
    </div>
    {% endblock %} 
   
   
    {% block content2 %}
    <div class="hlavicka">
      <ul class="nav justify-content-center">
        
        <li class="nav-item">
          <a href="{% url 'onas' %}" class="nav-link">O nás</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'course_list' %}" class="nav-link">Kurzy</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'branch' %}" class="nav-link">Pobočky</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'people' %}" class="nav-link">Lidé</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'contacts' %}" class="nav-link">Kontakty</a>
        </li>
       <li class="nav-item">
          <a href="{% url 'application_create' %}" class="nav-link">Přihláška kurz</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'registration' %}" class="nav-link">Registrace</a>
        </li>
      </ul>
      <hr>
    </div>
    {% endblock %} 
    
    
    {% block content3 %}
    <hr>
    <div class="paticka pt-3 pb-1 mt-2">
      
      <p>LaP 2021</p>
   
    {% endblock %}
    <!-- na tech strankach, kam to chci vlozit, tak musim dat {% extends "base.html %"} -->



  </body>
</html>
