<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info o kurzu</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <style>
      body {
        padding: 10px !important;
        background-color: aquamarine !important;
      }
    </style>
  </head>
  <body>
    {% extends "base.html" %} {% load bootstrap4 %} {% block content2 %}
    <h2>Název kurzu: {{ object.name }}</h2>
    <hr />
    <h3>Kdy:</h3>
    <p>
      {{ object.start | date }}<br />
      Od: {{ object.start | time }}<br />
      Do: {{ object.end | time }}<br />
    </p>
    <h4>Cena:</h4>
    <p>{{ object.price }} CZK</p>
    <h4>Popis:</h4>
    <p>{{ object.description }}</p>
    <h4>Pobočka:</h4>
    <p>{{ object.branch }}</p>
    <h4>Kategorie:</h4>
    <p>{{ object.category }}</p>
    <h4>Vyučující:</h4>
    <p>{{ object.lecturer }}</p>
    <h4>Admin kontakt:</h4>
    <p>{{ object.event_coordinator}}</p>
    <p>
      {% url 'application_create1' object.pk as target_url %}
      {% bootstrap_button "Přihlásit se" href=target_url button_type="link" button_class="btn-info" %}
    </p>
    <p>
      {% url 'application_list' object.pk as target_url %}
      {% bootstrap_button "Seznam přihlášek" href=target_url button_type="link" button_class="btn-info" %}
    </p>
    <hr />
    <p>
      <a href="{% url 'course_list' %}" target="_self">Zpět na seznam kurzů</a>
    </p>
    {% endblock %}
  </body>
</html>
