<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jazykova skola</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <style>
      body {
        padding: 10px !important;
        background-color: aquamarine !important;
      }
    </style>
  </head>
  <body>
    {% extends "base.html" %} {% block content2 %}

    <h1 class="text-center">Vitejte na webu Jazykove skoly ABC Jazyky</h1>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab inventore
      odit, distinctio molestias sapiente illo similique culpa! Autem quis sed
      aperiam consectetur atque vel nam modi explicabo ipsum tempore? Labore?
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
      explicabo, rem maiores nihil minima assumenda amet! Facere minima eos quo
      quidem porro magnam! Provident, at quas delectus aut fugit esse dolores
      deleniti, est numquam temporibus commodi asperiores unde molestias maxime
      enim earum facere aliquam ratione?
    </p>

    {% endblock %}
  </body>
</html>
