<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uvodni stranka</title>
</head>
<body>
    <h1>Tato stranka zobrazuje informace o zviratech.</h1>
    <ul>
        {% for animal in zvirata.keys %}
            <li>
                {{ animal | capfirst }}
            </li>
        {% endfor %}
    </ul>
    <p>
        {% if zvirata.keys|length > 5 %}
            Mame hodne zvirat.
        {% else %}
            Mame malo zvirat.
        {% endif %}
    </p>
</body>
</html>