{% extends 'base.html' %}
{% load static%}

{% block title%}
    Prehled zvirat
{% endblock%}

{% block styling %}
    <link rel="stylesheet" href="{% static "informace/styly.css" %}">
{% endblock%}

{% block content %}
    <h1>Tato stranka zobrazuje informace o zviratech.</h1>
    <ul>
      {% for animal in zvirata.items %}
      <li>
        <a href="{% url 'zvire_info' animal.0 %}" target="_self"
          >{{ animal.0|upper }}</a
        >
        : {{ animal.1|title }}.
      </li>
      {% endfor %}

    </ul>
    {% if zvirata.keys|length > 6 %}
    <p>Mame hodne zvirat.</p>
    {% elif zvirata.keys|length > 4 %}
    <p>Mame tak akorat zvirat.</p>
    {% else %}
    <p>Mame malo zvirat.</p>
    {% endif %} {# tajne heslo: orangutan #}
    <!-- html komentar - ten je na strance videt, komentar nahore neni videt -->

    <p>
      Dokumentace:<br />
      <a
        href="https://docs.djangoproject.com/en/4.0/ref/templates/builtins/"
        target="_blank"
        >Odkaz na dokumentaci tagu a filtru v Djangu</a
      >
    </p>
    <p>
        <a href="{% url 'filtry' %}" target="_self">Odkaz na filtry</a>
    </p>
{% endblock %}