{% extends "base.html" %} 
{% load static %}

{% block title %} Informace o zvířeti {% endblock %}
{% block styling %}
    <link rel="stylesheet" href="{% static "informace/styly.css" %}">
{% endblock%}

{% block content %}
<h1>Tohle jsou informace o zvířeti</h1>
{% include "informace/includes/header.html" %}
<!-- varianta s tridou -->
<p>Dnes tu máme zvíře jménem {{ zvire1.jmeno | upper }}.</p>
<p>Kolik vazi? {{ zvire1.vaha | capfirst }} kg.</p>
<p>Ma barvu: {{ zvire1.barva }}</p>
<p>Zije? {{ zvire1.zije| yesno:"Jasne,Bohuzel ne,Nevime"}}.</p>
<p>{{ zvire1.jmeno }} má číslo {{ zvire1.cislo }}.</p>


{% include "informace/includes/footer.html" %} 
{% endblock %}
